asgiref==3.11.1
Django==6.0.2
djangorestframework==3.16.1
djoser==2.2.2
flake8==7.3.0
mccabe==0.7.0
pycodestyle==2.14.0
pyflakes==3.4.0
pytz==2025.2
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
gunicorn==23.0.0
psycopg2-binary==2.9.9
whitenoise==6.12.0

