// breakpoints

$mobile: 576px;
$tablet: 768px;
$laptop: 1024px;

// colors
$bgColor: #eff2fa;
$mainColor: #4a90e2;
$colorObjects: #ffffff;
$cuteColor: #5a5a5a;
//width
$sidebarWidth: 250px;

//sizes
$fontSize: 16px;
$paddingMobile: 15px;
