// breakpoints

$mobile: 576px;
$tablet: 768px;
$laptop: 1024px;

// colors
$bgColor: #efeff4;
$mainColor: #4a90e2;
$sidebarColor: #f2f3f8;
$colorObjects: #ffffff;

$dropDownColor: #f3f5fa;
//width
$sidebarWidth: 230px;

//sizes
$fontSize: 16px;
$paddingMobile: 10px;
