.content {
  padding: 20px 30px;
  @media (max-width: $tablet) {
    padding: $paddingMobile;
  }
}
.table {
  margin-top: 40px;
}
.tableContainer {
  overflow: hidden;
  margin: 0 auto;

  padding: 0px 3vw;
}
